body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: yellow;
    font-family: cursive;
}

.stats-container {
    padding: 20px;
    position: relative;
    margin: 20px;
    border: 2px dotted green;
    min-width: 200px;
    height: auto;
}

.icon {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.counter {
    font-size: 50px;
    color: green;
}

h4 {
    margin-top: 20px;
}